
<h1 class="title-page">Mock manager</h1>

<section class="resume-wrapper">
   <h2 class="title-secondary"> Resource resume </h2>
    <div class="resume-container voffset2 table_row">
        <div class="table_cell">
            <label>Servers</label>
            <span>{{ mockController.resource.server }}</span>
        </div>
        <div class="table_cell">
            <label>Protocol</label>
            <span>{{ mockController.resource.protocol }}</span>
        </div>
        <div class="table_cell">
            <label>Domain</label>
            <span>{{ mockController.resource.domain }}</span>
        </div>
        <div class="table_cell">
            <label>Port</label>
            <span>{{ mockController.resource.port }}</span>
        </div>
         <div class="table_cell">
            <label>Queries</label>
            <span ng-repeat="currentQuery in mockController.resource.queryParams">{{ currentQuery.name }}</span>
        </div>
         <div class="table_cell">
            <label>Paths</label>
            <span ng-repeat="currentPath in mockController.resource.pathParams">{{ currentPath.name }}</span>
        </div>
    </div>
</section>

<section class="container voffset4">

    <div class="container_child-1" style="max-width:500px;background-color : #555;">
        <form name="requestMockForm" >
            <span class="fa fa-arrow-circle-o-left" style="position:absolute;top:5px;right:5px;font-size:1.3em"></span>
            <h2 class="title-secondary"> Ajouter un mock </h2>
            <div style="margin-top:50px">
                <input  type="text" name="mockName" class="input-url" ng-model="mockController.mockToAdd.name" placeholder="Mock name"/>

                <textarea style="background-color:transparent;color:white;width:90%;min-height:100px;border-radius:10px;" class="voffset2" ng-model="mockController.mockToAdd.description">

                </textarea>

                <div class="voffset2" style="text-align:right">
                    <input type="submit" class="btn"  value="Valider" ng-click="onAddMock()"/>
                </div>
            </div>
        </form>
    </div>

    <div class="container_child-2">
        <h2 class="title-secondary"><span class="fa fa-mock roffset2"> </span> Liste des mocks</h2>
        <div class="action-bar">
            <span class="fa fa-plus-circle action-icon" style="color :darkgreen"> </span>
            <span class="fa fa-edit action-icon" style="color :darkblue"> </span>
        </div>
        <div class="table">
            <div class="table_header">
                <span class="table_cell">Serveur name</span>
                <span class="table_cell">Description</span>
                <span class="table_cell">Nombre de resources</span>
                <span class="table_cell">Nombre de mocks</span>
            </div>
            <div class="table_content">
                <div class="table_row" ng-repeat="currentMock in mockController.mocks track by $index" >
                    <span class="table_cell">{{ currentMock.name }} </span>
                    <span class="table_cell">{{ currentMock.description || '0'}}</span>
                    <span class="table_cell">{{ currentMock.nbResources || '0'}}</span>
                    <span class="table_cell">{{ currentMock.nbMocks || '0'}}</span>
                </div>
            </div>
        </div>
    </div>
</section>


